headless-kivy-pi
kivy
kivy-garden.graph
psutil
luma.core
luma.lcd
#pyqtgraph
adafruit-circuitpython-framebuf
matplotlib
Pillow
adafruit-circuitpython-rgb-display
adafruit-blinka
gpiod
numpy
gpiozero
docker
